[submodule "pqcrypto"]
	path = library/pqcrypto
	url = https://github.com/kpdemetriou/pqcrypto.git
[submodule "PQCrypto-SIKE"]
	path = library/PQCrypto-SIKE
	url = https://github.com/microsoft/PQCrypto-SIKE.git
